# venv
.venv/
venv/

# IDE / editor
.idea/
.vscode/

# modelos / artefatos gerados
models/
*.joblib
*.pkl

# cache python
__pycache__/
*.py[cod]
*$py.class

# sqlite / banco local
*.db
*.sqlite

# logs
*.log

# sistema
.DS_Store
Thumbs.db
